<!DOCTYPE html>
<html>
<head>
    <title>Blog Posts</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body class="homepage">
    <h1 id="blogfireHeading">BLOG-FIRE</h1>

    <form action="/post/new" method="GET" class="newButton">
        <button type="submit">Create New Post</button>
    </form>

    <form action="/post/myposts" method="GET" class="myPostsButton">
        <button type="submit">My Posts</button>
    </form>

</body>
</html>
